

body {
    background-color: black;
    color: black;
    font-family: 'Orbitron', sans-serif;  

    background-image: url('https://i.ibb.co/t3SC0GY/imageedit-1-3338353059.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

main {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 600px;
    background-color: rgba(240,233,210,0.2);
    border-radius: 50% 20% / 10% 40%;
    transition: all 0.5s;
}

main:hover {
    height: 620px;
    width: 700px;
    background-color: rgba(240,233,210,0.3);
    border-radius: 10% 40% / 50% 20%;
}

main:hover #game_title{
    background-color: rgba(245,211,133,0.4);
    box-shadow: 0 0.5em 0.5em -0.4em #f5d385;
}

main:hover button {
    background-color: rgba(245,211,133,0.2);
}

main:hover .dropdown {
    margin-top: 50px;
    width: 400px;
}

nav {
    display: flex;
    flex-direction: column;
    margin: 5rem auto;
    align-items: center;
    justify-content: space-evenly;
}

#game_title {
    font-size: 2rem;
    padding: 2.5rem;
}

#instruct {
    margin-top: 30px;
    margin-bottom: 20px;
}

.button {
    padding: 0.8rem;
}

button {
    background: none;
    border: 2px solid white;
    color: white;
    padding: 0.2rem 2rem;
    transition: all 0.25s;
}

button:hover {
    border-color: #f5d385;
    box-shadow: 0 0.5em 0.5em -0.4em #f5d385;
    transform: translateY(-0.25em);
    cursor: pointer;
}

.drop {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    margin: 10px;
    position: absolute;
    background-color: #181204;
    min-width: 200px;
    padding: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    box-shadow: 0 0.5em 0.5em -0.4em black;
    z-index: 1;
    border-radius: 10% 10% 40% 40%;
    color: white;
}

.drop:hover .dropdown-content {
    display: block;
}